{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Study Mate</title>
	<link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/progress-page.css' %}">
</head>
<body>
	<div class="container">
		<div class="main">

			<div class="btn-panel flex-row d-flex  justify-content-center">
				<button class="btn"><a href="#">Other</a></button>
				<button class="btn"><a href="{% url 'addForm' %}">+ Add</a></button>
			</div>

			<hr>
			{% for content, progres in contents %}
			
			<div class="item">
				<h3><a href="{% url 'editForm' pk=content.id %}">{{content.title}}</a></h3>
				<div class="flex-row d-flex">
					<div class="progress-container">
						<div style="width: {{progres}}%" class="progress-bar"></div>
					</div>
					<div><p>{{progres}}%</p></div>
				</div>
			</div>
			
			{% endfor %}
			
			<hr>
			
		</div>
	</div>
</body>
</html>